{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Список оборудования</h1>
    <div class="text-right">
        <a class="btn btn-default" href="{{ path('equipment_new') }}">
            Добавить оборудование
        </a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Внутренний идентификатор</th>
            <th>Производитель</th>
            <th>Марка(модель) оборудования</th>
            <th>Тип оборудования</th>
            <th>Место установки</th>
            <th></th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.extid }}</td>
                <td><a href="{{ path('equipment_show', { 'id': entity.extId }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.vendor }}</td>
                <td>{{ entity.model }}</td>
                <td>{{ entity.type.name }}</td>
                <td>{{ entity.destinations }}</td>
                <td>{{ entity.isActiveSw }}</td>
                <td>
                    <a href="{{ path('equipment_edit', { 'id': entity.extId }) }}">редакт.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
