<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="{{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow"/>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/app/assets/bootstrap/css/bootstrap.min.css'
        'bundles/app/assets/css/non-responsive.css'
        'bundles/app/assets/css/style.css'
        'bundles/pinanoselect2/css/select2.css'
        'bundles/pinanoselect2/css/select2-bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        {% javascripts
        '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
        '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ru.js'
        'bundles/app/assets/bootstrap/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            $(document).ready(function () {
                $("select").select2({placeholder: "Выберите"});
            });
        </script>
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {% block body %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Сообщение</em>: {{ flashMessage }}
            </div>
        {% endfor %}

        {% block content_header %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% block content_header_more %}
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('equipment') }}">Оборудование</a></li>
                                <li><a href="{{ path('line') }}">Линии связи</a></li>
                                <li><a href="{{ path('canal') }}">Каналы связи</a></li>
                                <li><a href="#">|</a></li>
                                <li><a href="{{ path('street') }}">Улицы</a></li>
                                <li><a href="{{ path('city') }}">Города</a></li>
                                <li><a href="{{ path('region') }}">Область</a></li>
                                <li><a href="{{ path('equipmenttype') }}">Тип оборуд.</a></li>
                                <li><a href="#">|</a></li>
                                <li><a href="{{ path('organization') }}">Организация</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="block">
            {% block content %}{% endblock %}
        </div>

        {% if code is defined %}
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>
