{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Редактировать канал</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div>{{ form_errors(form) }}</div>

    <div class="form-group">
        {{ form_label(form.name, null, {'label_attr':  {'class': 'col-xs-2'} }) }}
        <div class="col-xs-6">{{ form_widget(form.name) }}</div>
        <div class="col-xs-12">{{ form_errors(form.name) }}</div>
    </div>
    <div class="form-group">
        {{ form_label(form.beginEquip, null, {'label_attr':  {'class': 'col-xs-2'} }) }}
        <div class="col-xs-6">{{ form_widget(form.beginEquip) }}</div>
        <div class="col-xs-12">{{ form_errors(form.beginEquip) }}</div>
    </div>
    <div class="form-group">
        {{ form_label(form.lines, null, {'label_attr':  {'class': 'col-xs-2'} }) }}
        <div class="col-xs-6">{{ form_widget(form.lines) }}</div>
        <div class="col-xs-12">{{ form_errors(form.lines) }}</div>
    </div>

    <h4>Сведения об используемых портах для организации канала связи (для начального узла):</h4>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-6">
            <ul class="beginPorts"  data-prototype="{{ form_widget(form.beginPorts.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for beginPort in form.beginPorts %}
                    <li>{{ form_row(beginPort) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.endEquip, null, {'label_attr':  {'class': 'col-xs-2'} }) }}
        <div class="col-xs-6">{{ form_widget(form.endEquip) }}</div>
        <div class="col-xs-12">{{ form_errors(form.endEquip) }}</div>
    </div>

    <h4>Сведения об используемых портах для организации канала связи (для конечного узла):</h4>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-6">
        <ul class="endPorts"  data-prototype="{{ form_widget(form.endPorts.vars.prototype)|e }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for tag in form.endPorts %}
                <li>{{ form_row(tag) }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="form-group">
        {{ form_label(form.isActiveSw, null, {'label_attr':  {'class': 'col-xs-2'} }) }}
        <div class="col-sm-offset-2 col-xs-6">{{ form_widget(form.isActiveSw) }}</div>
        <div class="col-xs-12">{{ form_errors(form.isActiveSw) }}</div>
    </div>

    {{ form_row(form.submit, { 'label': 'Обновить','attr': {'class': 'col-sm-offset-2 btn-default'} }) }}

    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('canal') }}">
                Назад к списку
            </a>
        </li>
    </ul>
    <div class="text-right">{{ form(delete_form) }}</div>
</ul>
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Добавить порт</a>');
        var $addTagLink2 = $('<a href="#" class="add_tag_link2">Добавить порт</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        var $newLinkLi2 = $('<li></li>').append($addTagLink2);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.beginPorts');
            $collectionHolder2 = $('ul.endPorts');
            // $beginPort = $('#appbundle_canal_beginPorts');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });
            // add a delete link to all of the existing tag form li elements
            $collectionHolder2.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            $collectionHolder2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder2.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
                $("select").select2();
            });
            $addTagLink2.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm($collectionHolder2, $newLinkLi2);
                $("select").select2();
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            console.log(prototype);
            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">Удалить порт</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>
{% endblock %}
