{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Оборудование</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Внутренний идентификатор</th>
            <td>{{ entity.code }}</td>
        </tr>
        <tr>
            <th>Производитель</th>
            <td>{{ entity.vendor }}</td>
        </tr>
        <tr>
            <th>Марка(модель) оборудования</th>
            <td>{{ entity.model }}</td>
        </tr>
        <tr>
            <th>Тип оборудования</th>
            <td>{{ entity.type.name }}</td>
        </tr>
        <tr>
            <th>Включен</th>
            <td>{{ entity.isActiveSw }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('equipment') }}">
                Назад к списку
            </a>
        </li>
        <li>
            <a href="{{ path('equipment_edit', { 'id': entity.extId }) }}">
                редактировать
            </a>
        </li>
    </ul>
    <div class="text-right">{{ form(delete_form) }}</div>
{% endblock %}
