{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Destinations list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Addressindex</th>
                <th>Addressbuildingnumber</th>
                <th>Addressofficenumber</th>
                <th>Latitudedeg</th>
                <th>Latitudemin</th>
                <th>Latitudesec</th>
                <th>Longitudedeg</th>
                <th>Longitudemin</th>
                <th>Longitudesec</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('destinations_show', { 'id': entity.id }) }}">{{ entity.type }}</a></td>
                <td>{{ entity.addressIndex }}</td>
                <td>{{ entity.addressBuildingNumber }}</td>
                <td>{{ entity.addressOfficeNumber }}</td>
                <td>{{ entity.latitudeDeg }}</td>
                <td>{{ entity.latitudeMin }}</td>
                <td>{{ entity.latitudeSec }}</td>
                <td>{{ entity.longitudeDeg }}</td>
                <td>{{ entity.longitudeMin }}</td>
                <td>{{ entity.longitudeSec }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('destinations_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('destinations_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('destinations_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
