{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Destinations</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Addressindex</th>
                <td>{{ entity.addressIndex }}</td>
            </tr>
            <tr>
                <th>Addressbuildingnumber</th>
                <td>{{ entity.addressBuildingNumber }}</td>
            </tr>
            <tr>
                <th>Addressofficenumber</th>
                <td>{{ entity.addressOfficeNumber }}</td>
            </tr>
            <tr>
                <th>Latitudedeg</th>
                <td>{{ entity.latitudeDeg }}</td>
            </tr>
            <tr>
                <th>Latitudemin</th>
                <td>{{ entity.latitudeMin }}</td>
            </tr>
            <tr>
                <th>Latitudesec</th>
                <td>{{ entity.latitudeSec }}</td>
            </tr>
            <tr>
                <th>Longitudedeg</th>
                <td>{{ entity.longitudeDeg }}</td>
            </tr>
            <tr>
                <th>Longitudemin</th>
                <td>{{ entity.longitudeMin }}</td>
            </tr>
            <tr>
                <th>Longitudesec</th>
                <td>{{ entity.longitudeSec }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('destinations') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('destinations_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
