{% extends 'AppBundle::layout.html.twig' %}

{% block content -%}
    <h1>Каналы</h1>
    <div class="text-right">
        <a class="btn btn-default" href="{{ path('canal_new') }}">
            Добавить канал
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Наименование канала связи</th>
            <th>Оборудование начального узла</th>
            <th>Оборудование конечного узла</th>
            <th>Активн.</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.extId }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.beginEquip }}</td>
                <td>{{ entity.endEquip }}</td>
                <td>{{ entity.isActiveSw }}</td>
                <td>
                    <a href="{{ path('canal_edit', { 'id': entity.extId }) }}">Редакт.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
