{% extends 'AppBundle::layout.html.twig' %}

{% block content -%}
    <h1>Список линий</h1>
    <div class="text-right">
        <a class="btn btn-default" href="{{ path('line_new') }}">
            Добавить линию
        </a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Наименование линии</th>
            <th>Внутренний идентификатор</th>
            <th>Расположение начального узла линии</th>
            <th>Расположение конечного узла линии</th>
            <th>Протяженность участка между узлами</th>
            <th>Задействованная емкость кабеля</th>
            <th>Активный</th>

            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.extId }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.destinationsBegin }}</td>
                <td>{{ entity.destinationsEnd }}</td>
                <td>{{ entity.nodeLength }}</td>
                <td>{{ entity.capacity }}</td>
                <td>{{ entity.isActiveSw }}</td>
                <td>
                    <a href="{{ path('line_edit', { 'id': entity.extId }) }}">ред.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
